:root {
    --main-width: 1024px;

    --dg-footer-height: 60px;
}

.post-content h2 {
    border-bottom: 1px solid var(--tertiary);
}

.main {
    /* Include extended footer hight in min-height calculation of main area */
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--dg-footer-height));
}

.entry-content {
    /* Don't limit post summary to two lines on home page */
    display: block;
}

.post-content code {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}
