.post-content h2 {
    border-bottom: 1px solid var(--tertiary);
}

:root {
    --dg-footer-height: 60px;
}

/* Include extended footer hight in min-height calculation of main area */
.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--dg-footer-height));
}

/* Don't limit post summary to two lines on home page */
.entry-content {
    display: block;
}

.post-content code {
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}
